*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    /* height:100%; */
    width: 100%;
    background-color:hsl(230, 17%, 14%);
    color: white;
}
.container{
    position:relative;
    width:100%;
    min-height:100vh;
    background-color:hsl(233, 31%, 11%);
    overflow:hidden;
  }
  .container:before{
      content:'';
      position: absolute;
      width:2000px;
      height: 2000px;
      border-radius: 50px;
      top:-10%;
      right:48%;
      transform:translateY(-50%);
      color:white;
  }
  .navbar{
      color: white;
  }
  .nav-item{
      color: white;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      color: white;
    }
    
    li {
      float: left;
      display:flex;
    }
    .navbar-brand{ 
      color: white;
      text-align: center;
      padding: 24px 40px;
      font-size:1.7rem;
  }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 24px 46px;
      margin:0px 10px;
      font-size:1.6rem;
      text-decoration: none;
    }
    li a:hover{
      color:lightblue;
    }
.container{
  position:relative;
  width:100%;
  min-height:250vh;
  background-color:hsl(233, 31%, 11%);
  overflow:hidden;
}
.container:before{
    content:'';
    position: absolute;
    width:2000px;
    height: 2000px;
    border-radius: 50px;
    top:-10%;
    right:48%;
    transform:translateY(-50%);
    color:white;
}

.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10{
background-color: hsl(228, 28%, 20%);
}

.avatar img{
  float:left;
  width:70%;
  height:15rem;
  padding-left: 40px;
}
.description p{
  float: right;
  font-size:1.8rem;
  padding-right: 40px;
}
.description a{
  color:white;
  text-decoration: none;
}
.description a:hover{
  color:hsl(228, 34%, 66%);
  
}
  .user{
    display:grid;
    grid-template-columns: auto auto;
    background-color: hsl(228, 28%, 20%);
    padding: 2rem;
    margin: 3rem;
    }
    @media screen and (max-width: 773px) {
      .user{
        display:grid;
        grid-template-rows: 'auto' 
                            'auto';
        background-color: hsl(228, 28%, 20%);
        padding: 1rem;
        justify-content: center;
        margin: 2rem;
        }
        .avatar img{
          width:80%;
          height:8rem;
          padding-left: 5px;
        }
        .description p{
          font-size:0.8rem;
          padding-right: 10px;
        }
    }
    @media screen and (max-width: 383px){
      .user{
        display:grid;
        grid-template-rows: 'auto' 
                            'auto';
        background-color: hsl(228, 28%, 20%);
        justify-content: center;
        margin: 2rem;
        }
      .avatar img{
        width:80%;
        height:8rem;
      }
      .description p{
        font-size:0.8rem;
      }
    }
